*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*background*/
.background{
	background-color: aqua;
	height: 200px;
	margin-bottom: 25px;
}
.heading01{
	background-color: green;
	margin-bottom: 30px;
}
.div_background{
	background-color: lightblue;
}
.para01{
	padding: 10px;
	background-color: rgba(0, 0, 255, 0.5);
	/*opacity: 0.7;*/
	/*opacity: 60%;*/
}

/*background-image*/

.img{
/*	width: 90%;*/
/*	height: 90vh;*/
	background-image: url("https://tse2.mm.bing.net/th?id=OIP.H0NjrqZAWWqdUxDEokG4igHaEK&pid=Api&P=0&h=180");
	margin-top: 10px;
	color: whitesmoke;
}
/* background img */
.main{
	width: 100%;
	height: 720px;
	background-image: url("https://tse3.mm.bing.net/th?id=OIP.Y-RTOfEN3GCelRcwJcSutgHaOh&pid=Api&P=0&h=180");
	background-repeat: no-repeat;
	background-position: center center;
}

/*  */
